a.a {
    background-color: #323232;
    border: 2px solid #1f1f1f;
    box-shadow: -8px 6px #979999;
    color: #eef0e8;
    cursor: pointer;
    display: block;
    font-size: 20px;
    font-weight: 400;
    margin: 1rem;
    padding: 0.2rem 0.5rem 0.2rem 6rem;
    transition: border-color 0.3s ease, background-color 0.3s ease,color 0.3s ease, box-shadow 0.3s ease;
    text-align: right;

  }
  
  a.a:active,
  a.a:hover,
  a.a:focus {
    background-color: transparent;
    border: 2px solid transparent;
    box-shadow: -4px 3px #323232;
    color: #1f1f1f;
  }
  
  @media (prefers-reduced-motion) {
    a.a {
      transition: none;
    }
  
    a.a:hover,
    a.a:active,
    a.a:focus {
      box-shadow: 8px -6px darkcyan;
    }
  }
  